/*Fonts
-----------------------------------------------*/
@font-face {
  font-family: 'Billabong';
  src: url('../fonts/billabong.ttf');
}

/*Global Styles
-----------------------------------------------*/
body {
  font-family: 'Raleway', 'Arial', sans-serif;
  width: 90%;
  margin: 0 auto;
  line-height: 1.5;
}

h1, h2 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}

.center {
  text-align: center;
}

.center-img {
  width: 70%;
}

table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  border: 1px solid black;
  text-align: center;
}

dt {
  font-weight: bold;
}

.social-btn {
  display: inline-block;
  margin: 20px 10px;
  padding: 8px;
  color: blue;
  border: 1px solid blue;
  border-radius: 3px;
  background-color: transparent;
  text-align: center;
  outline: none;
  text-decoration: none;
}


/*Header
-----------------------------------------------*/
header {
  clear: none;
}

.header-left {
  float: left;
  padding: 0;
}

.header-right {
  float: right;
}

.logo {
  font-family: Billabong, sans-serif;
  font-size: 3rem;
}

.nav-bar {
  list-style: none;
  padding-top: 5px;
}

.nav-bar > li {
  display: inline-block;
  padding: 20px;
}

/*Footer
-----------------------------------------------*/

/*Main
-----------------------------------------------*/
main header h2 {
  font-size: 2rem;
}

pre {
  font-family: Menlo,Monaco,"Courier New",Courier,monospace, sans-serif;
  font-size: 1.4em;
  padding: .5em 1em;
  background: rgba(0, 0, 0, 0.05);
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  width: 80%;
}

code {
  font-size: 1.4rem;
}

#tabs{
  height:30px;
  overflow:hidden;
}

#tabs > ul{
  font: 1em;
  list-style:none;
}
#tabs ul, #tabs li {
  margin:0;
  padding:0;
}

#tabs > ul > li{
  margin:0 2px 0 0;
  padding:7px 10px;
  display:block;
  float:left;
  border-top-left-radius:4px;
  border-top-right-radius: 4px;
  background: #FFF;
}

#tabs > ul > li:hover{
  background: red;
  cursor:pointer;
}

#tabs > ul > .active{
  background: red; /* old browsers */
  cursor:pointer;
}

#tab-container div {
  background: white;
  padding:10px;
  margin-top: 10px;
  color:#333;
  border: 1px solid black;
}
#tabs a {
  text-decoration: none;
  color: black;
}